<a href="https://colab.research.google.com/github/nando-sinulingga/data-manipulation-with-pandas/blob/main/menghitung%20rata-rata%20gaji%20karyawan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## menghitung rata-rata gaji karyawan yang telah bekerja selama lebih dari 5 tahun

In [2]:
import pandas as pd
from datetime import datetime

In [3]:
# Contoh DataFrame employee_data
data = {'karyawan_id': [1, 2, 3, 4, 5, 6, 7],
        'nama': ['Karyawan A', 'Karyawan B', 'Karyawan C', 'Karyawan D', 'Karyawan E', 'Karyawan F', 'Karyawan G'],
        'tanggal_masuk': ['2015-03-15', '2018-08-22', '2013-01-10', '2014-06-05', '2019-11-18', '2012-04-03', '2017-09-30'],
        'gaji': [5000, 6000, 5500, 4500, 7000, 4800, 6200]}

In [4]:
employee_data = pd.DataFrame(data)
employee_data['tanggal_masuk'] = pd.to_datetime(employee_data['tanggal_masuk'])

In [5]:
employee_data['tahun_kerja'] = (datetime.now() - employee_data['tanggal_masuk']).dt.days / 365
employee_data

   karyawan_id        nama tanggal_masuk  gaji  tahun_kerja
0            1  Karyawan A    2015-03-15  5000     8.421918
1            2  Karyawan B    2018-08-22  6000     4.980822
2            3  Karyawan C    2013-01-10  5500    10.597260
3            4  Karyawan D    2014-06-05  4500     9.197260
4            5  Karyawan E    2019-11-18  7000     3.739726
5            6  Karyawan F    2012-04-03  4800    11.369863
6            7  Karyawan G    2017-09-30  6200     5.873973

In [6]:
# Menghitung rata-rata gaji karyawan yang telah bekerja selama lebih dari 5 tahun
rata_rata_gaji = employee_data[employee_data['tahun_kerja'] > 5]['gaji'].mean()
rata_rata_gaji

5200.0

In [7]:
print("Rata-rata gaji karyawan yang telah bekerja lebih dari 5 tahun: ", rata_rata_gaji)

Rata-rata gaji karyawan yang telah bekerja lebih dari 5 tahun:  5200.0